<div>
  Task Count in Parent:
  <div>The Name is : {{name$ | async}}</div>
  <ng-container *ngFor="let t of tasks$ | async">
    <div>{{t.name}}</div>
  </ng-container>
</div>
<div class="row">
  <div class="col-auto">
    <button class="btn btn-outline-info" (click)="goToTask()">Tasks</button>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-info" (click)="goToMaps()">Maps</button>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-info" (click)="goToGrokAi()">GrokAi</button>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-info" (click)="goToMapTasks()">Map Tasks</button>
  </div>
</div>
<router-outlet></router-outlet>
