<div class="container-fluid">
  <div class="row" *ngIf="searchNotFound">
    <div class="col-sm alert alert-info">
      Please click on Map to Add Point
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" placeholder="Enter Search" [formControl]="searchControl">
    </div>
    <div class="col-sm-4">
      <button [disabled]="searchControl.invalid || this.searchNotFound" (click)="searchAndAdd()" class="btn btn-success">Search and Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <select [formControl]="mapTypeControl" class="form-control">
        <option value="streets-navigation-vector" selected>Streets Navigation</option>
        <option value="satellite">Satellite</option>
        <option value="hybrid">Hybrid</option>
        <option value="topo-vector">Topographic</option>
        <option value="gray-vector">Gray</option>
        <option value="dark-gray-vector">Dark Gray</option>
        <option value="terrain">Terrain</option>
        <option value="osm">OpenStreetMap</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div id="viewDiv" style="height: 50vh; width: 50%;"></div>
    </div>
  </div>
  <app-map-point-view
    (onRowSelect)="onRowSelect($event)"
    [points]="mapPins$ | async"
  ></app-map-point-view>
</div>
